In [4]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt
pd.set_option('display.float_format', lambda x: '%.0f' % x)
loan = pd.read_csv('archive/accepted_2007_to_2018Q4.csv.gz', compression='gzip', low_memory=True)
loan.info

/Users/bytedance/Documents/python_envs/web_venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<bound method DataFrame.info of                                                        id  member_id  \
0                                                68407277        NaN
1                                                68355089        NaN
2                                                68341763        NaN
3                                                66310712        NaN
4                                                68476807        NaN
...                                                   ...        ...
2260696                                          88985880        NaN
2260697                                          88224441        NaN
2260698                                          88215728        NaN
2260699  Total amount funded in policy code 1: 1465324575        NaN
2260700   Total amount funded in policy code 2: 521953170        NaN

         loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
0             3600         3600             3600   36 months        14
1            24700        24700            24700   36 months        12
2            20000        20000            20000   60 months        11
3            35000        35000            35000   60 months        15
4            10400        10400            10400   60 months        22
...            ...          ...              ...         ...       ...
2260696      40000        40000            40000   60 months        10
2260697      24000        24000            24000   60 months        14
2260698      14000        14000            14000   60 months        14
2260699        NaN          NaN              NaN         NaN       NaN
2260700        NaN          NaN              NaN         NaN       NaN

         installment grade sub_grade  ... hardship_payoff_balance_amount  \
0                123     C        C4  ...                            NaN
1                820     C        C1  ...                            NaN
2                433     B        B4  ...                            NaN
3                830     C        C5  ...                            NaN
4                290     F        F1  ...                            NaN
...              ...   ...       ...  ...                            ...
2260696          860     B        B3  ...                            NaN
2260697          565     C        C4  ...                            NaN
2260698          329     C        C4  ...                            NaN
2260699          NaN   NaN       NaN  ...                            NaN
2260700          NaN   NaN       NaN  ...                            NaN

        hardship_last_payment_amount disbursement_method  \
0                                NaN                Cash
1                                NaN                Cash
2                                NaN                Cash
3                                NaN                Cash
4                                NaN                Cash
...                              ...                 ...
2260696                          NaN                Cash
2260697                          NaN                Cash
2260698                          NaN                Cash
2260699                          NaN                 NaN
2260700                          NaN                 NaN

         debt_settlement_flag debt_settlement_flag_date settlement_status  \
0                           N                       NaN               NaN
1                           N                       NaN               NaN
2                           N                       NaN               NaN
3                           N                       NaN               NaN
4                           N                       NaN               NaN
...                       ...                       ...               ...
2260696                     N                       NaN               NaN
2260697                     Y                  Mar-2019            ACTIVE
2260698                     N                       NaN               NaN
2260699                   NaN                       NaN               NaN
2260700                   NaN                       NaN               NaN

        settlement_date settlement_amount settlement_percentage  \
0                   NaN               NaN                   NaN
1                   NaN               NaN                   NaN
2                   NaN               NaN                   NaN
3                   NaN               NaN                   NaN
4                   NaN               NaN                   NaN
...                 ...               ...                   ...
2260696             NaN               NaN                   NaN
2260697        Mar-2019             10000                    45
2260698             NaN               NaN                   NaN
2260699             NaN               NaN                   NaN
2260700             NaN               NaN                   NaN

        settlement_term
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
2260696             NaN
2260697               1
2260698             NaN
2260699             NaN
2260700             NaN

[2260701 rows x 151 columns]>

In [6]:
loans = loan[['id', 'loan_amnt', 'term','int_rate', 'sub_grade', 'emp_length','grade', 'annual_inc', 'loan_status', 'dti', 'mths_since_recent_inq', 'revol_util', 'bc_open_to_buy', 'bc_util', 'num_op_rev_tl']]

# remove missing values 
loans = loans.dropna()
loans.info

<bound method DataFrame.info of                id  loan_amnt        term  int_rate sub_grade emp_length grade  \
0        68407277       3600   36 months        14        C4  10+ years     C
1        68355089      24700   36 months        12        C1  10+ years     C
2        68341763      20000   60 months        11        B4  10+ years     B
4        68476807      10400   60 months        22        F1    3 years     F
6        68476668      20000   36 months         9        B2  10+ years     B
...           ...        ...         ...       ...       ...        ...   ...
2260693  89955820      24000   60 months        10        B3    4 years     B
2260695  88977788      24000   60 months        10        B3  10+ years     B
2260696  88985880      40000   60 months        10        B3    9 years     B
2260697  88224441      24000   60 months        14        C4    6 years     C
2260698  88215728      14000   60 months        14        C4  10+ years     C

         annual_inc  loan_status  dti  mths_since_recent_inq  revol_util  \
0             55000   Fully Paid    6                      4          30
1             65000   Fully Paid   16                      0          19
2             63000   Fully Paid   11                     10          56
4            104433   Fully Paid   25                      1          64
6            180000   Fully Paid   15                     10          84
...             ...          ...  ...                    ...         ...
2260693      125000      Current   11                     13          22
2260695      108000      Current   35                      4          39
2260696      227000      Current   13                      1          65
2260697      110000  Charged Off   18                      9          68
2260698       95000      Current   23                      6          54

         bc_open_to_buy  bc_util  num_op_rev_tl
0                  1506       37              4
1                 57830       27             20
2                  2737       56              4
4                  4567       78              7
6                     0      103              9
...                 ...      ...            ...
2260693           73489       22             14
2260695           15307       45             19
2260696            4070       67              3
2260697            4660       78              8
2260698            1838       81              5

[1803647 rows x 15 columns]>

In [10]:

# 特征数据清洗，异常值，缺失值
q_low = loans["annual_inc"].quantile(0.08)
q_hi = loans["annual_inc"].quantile(0.92)
loans = loans[(loans["annual_inc"] < q_hi) & (loans["annual_inc"] > q_low)]
loans = loans[(loans["dti"] <= 45)]
q_hi = loans["bc_open_to_buy"].quantile(0.95)
loans = loans[(loans["bc_open_to_buy"] < q_hi)]
loans = loans[(loans["bc_util"] <= 160)]
loans = loans[(loans["revol_util"] <= 150)]
loans = loans[(loans["num_op_rev_tl"] <= 35)]

cleaner_app_type = {
    "term": {" 36 months": 1.0, " 60 months": 2.0},
    "sub_grade": {
        "A1": 1.0,
        "A2": 2.0,
        "A3": 3.0,
        "A4": 4.0,
        "A5": 5.0,
        "B1": 11.0,
        "B2": 12.0,
        "B3": 13.0,
        "B4": 14.0,
        "B5": 15.0,
        "C1": 21.0,
        "C2": 22.0,
        "C3": 23.0,
        "C4": 24.0,
        "C5": 25.0,
        "D1": 31.0,
        "D2": 32.0,
        "D3": 33.0,
        "D4": 34.0,
        "D5": 35.0,
        "E1": 41.0,
        "E2": 42.0,
        "E3": 43.0,
        "E4": 44.0,
        "E5": 45.0,
        "F1": 51.0,
        "F2": 52.0,
        "F3": 53.0,
        "F4": 54.0,
        "F5": 55.0,
        "G1": 61.0,
        "G2": 62.0,
        "G3": 63.0,
        "G4": 64.0,
        "G5": 65.0,
    },
    "emp_length": {
        "< 1 year": 0.0,
        "1 year": 1.0,
        "2 years": 2.0,
        "3 years": 3.0,
        "4 years": 4.0,
        "5 years": 5.0,
        "6 years": 6.0,
        "7 years": 7.0,
        "8 years": 8.0,
        "9 years": 9.0,
        "10+ years": 10.0,
    },
}
loans = loans.replace(cleaner_app_type)

In [22]:
for each in loans.columns:
    print(type(each),each)

<class 'str'> id
<class 'str'> loan_amnt
<class 'str'> term
<class 'str'> int_rate
<class 'str'> sub_grade
<class 'str'> emp_length
<class 'str'> grade
<class 'str'> annual_inc
<class 'str'> loan_status
<class 'str'> dti
<class 'str'> mths_since_recent_inq
<class 'str'> revol_util
<class 'str'> bc_open_to_buy
<class 'str'> bc_util
<class 'str'> num_op_rev_tl

0          3600
2         20000
4         10400
7         20000
8         10000
           ...
2260686   23800
2260687   28000
2260695   24000
2260697   24000
2260698   14000
Name: loan_amnt, Length: 1120886, dtype: float64

In [33]:
loans['grade']

0          C
2          B
4          F
7          B
8          A
          ..
2260686    C
2260687    B
2260695    B
2260697    C
2260698    C
Name: grade, Length: 1120886, dtype: object

In [11]:
from sklearn.feature_selection import VarianceThreshold
variance = VarianceThreshold(threshold = (.9 * (1 - .9)))
variance.fit(loans)
variance.get_support()

ValueError: could not convert string to float: 'C'